
.slider-area {
    position: relative;
  }
  .slider-overlay{position: relative;}
  .slider-overlay:before{
      position: absolute;
      height: 100%;
      width: 100%;
      content: "";
      left: 0;
      top:0;
      background: $black;
      opacity: .6;
  }
  .slider-content{
    position: relative;
    @media #{$xs}{
      padding-top: 30px;
    }
    @media #{$md}{
      padding-top: 55px;
    }
  }
  .slider-height {
      min-height: 800px;
  }
  .slider-1-height {
      min-height: 850px;
  }
  .slider-2-height {
      min-height: 870px;
  }
  .slider-3-height {
      min-height: 950px;
      @media #{$xs}{
        min-height: 700px;
      }
      @media #{$sm}{
        min-height: 500px;
      }
  }
  .single-slider {
      background-size: cover;
      background-position: center center;
  }
  .home2-single-slide{
    position: relative;
    &::before{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $black;
      opacity: .5;
      content: "";
    }
  }
  .slider-content{
      & h1{
        font-family: "cerebri_sansbold";
        font-size: 85px;
        color: $white;
        margin-bottom: 38px;
        letter-spacing: -3px;
        line-height: 1;
        @media #{$laptop}{
          font-size: 70px;
        }
      }
      & p{
        font-size: 20px;
        line-height: 32px;
        color: $white;
        margin-right: 232px;
        margin-bottom: 0; 
      }
  }
  .slider-thumb{
    img{
      @media #{$lg,$md,$xs,$sm}{
        width: 100%;
      }
    }
  }
  .slider-height-3{
    @media #{$md}{
      padding-top: 100px;
    }
  }
.home5-single-slide{
  position: relative;
  &::before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000000;
    opacity: .4;
    content: "";
  }
}
.slider-button {
	margin-top: 50px;
}
.text-link {
	color: $white;
	font-size: 16px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	position: relative;
	font-family: "cerebri_sansbold";
	margin-left: 48px;
}
.text-link:hover{color: $theme-color;}
.text-link::after {
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: -2px;
	left:0;
	background: #c3c3c3;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.text-link::before {
	content: '';
	width: 0;
	height: 1px;
	position: absolute;
	bottom: -2px;
	left: 100%;
	background: $theme-color;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	z-index: 99;
}
.text-link:hover::before{
	width: 100%;
	left: 0;
	-webkit-transition: width 0.3s ease;
	transition: width 0.3s ease;
}
.slider-video{
    margin-top: 115px;
    & a{
        height: 80px;
        width: 80px;
        background: $white;
        display: inline-block;
        border-radius: 50%;
        line-height: 80px;
        text-align: center;
        font-size: 16px;
        transition: .3s;
        color: $theme-color;
        position: relative;
    }
}
@-webkit-keyframes btnIconRipple { 0% { border-width: 4px; -webkit-transform: scale(1); transform: scale(1); }
80% { border-width: 1px; -webkit-transform: scale(1.35); transform: scale(1.35); }
100% { opacity: 0; } }

.slider-video a::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  border-radius: inherit;
  border: 1px solid #fff;
  -webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
  animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
}
// slider-2
.slider-2-content h1 {
	margin-bottom: 62px;
	margin-top: 27px;
}
.slider-2-content span {
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
	font-family: "cerebri_sansbold";
	display: inline-block;
}
.agency {
	letter-spacing: 2px;
	background: $theme-color;
	padding: 5px 10px;
	border-radius: 5px;
	margin-left: 5px;
    padding-bottom: 6px;
}
.slider-btn {
	-moz-user-select: none;
	background: $white;
	border: medium none;
	display: inline-block;
	font-size: 14px;
	margin-bottom: 0;
	padding: 20px 40px;
	text-align: center;
	text-transform: uppercase;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	white-space: nowrap;
	border-radius: 5px;
	position: relative;
    font-family: $c_bold;
    color: #333333;
    margin-left:9px;
}
.slider-btn i{padding-left:5px;}
.slider-btn:hover{background: $theme-color;color:$white;}
.slider-text > span{
    color:$white;
    font-size: 35px;
    font-family: $c_reg;
}
.slider-text h1 {
	font-size: 90px;
	letter-spacing: 0;
	margin-bottom: 27px;
}
.slider-text p{
    font-size: 18px;
    line-height: 32px;
    margin-right:153px;
}
.slider-text .slider-button {
	margin-top: 37px;
}



















  .slider-active button.slick-arrow {
      position: absolute;
      top: 50%;
      left: 70px;
      transform: translateY(-50%);
      border: 0;
      font-size: 15px;
      padding: 0;
      color: #222;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      height: 70px;
      width: 70px;
      border-radius: 50%;
      cursor: pointer;
      background: #fff;
  }
  .slider-active button.slick-next{left: auto;right:70px;}
  .slider-active:hover button{
      opacity: 1;
      visibility: visible;
  }
  .slider-active button:hover{
      background: $theme-color;
      color: #fff;
  }
  .slider-2 .slider-active button.slick-arrow {
      background: #d10459;
      color:#fff;
  }
  .slider-2  .slider-active button:hover{
      background: #202AAE;
      color: #fff;
  }
  
  .slider-height-3{
    min-height: 950px;
  }
  .single-slider.slider-height-3{
    @media #{$md}{
      min-height: 600px;
      background-size: inherit;
    }
    @media #{$xs}{
      min-height: 500px;
    }
    h1{
      @media #{$sm}{
       font-size: 40px;
      }
    }
  }
  .slider-height-4{
    min-height: 980px;
    @media #{$xs}{
      min-height: 730px;
    }
    @media #{$sm}{
      min-height: 600px;
    }
    @media #{$md}{
      min-height: 800px;
    }
  }
  .slider-content-3 {
	padding-top: 200px;
}
.slider-content-3 > span{
    color:$theme-color;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: $c_bold;
}
.slider-content-3 h1 {
	color: #333333;
	margin-top: 16px;
}
.slider-content-3 .text-link {
	color: #333333;
}
.slider-content-3 .text-link:hover {
	color: $theme-color;
}
.slider-content-3 .text-link::after {
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: -2px;
	left: 0;
	background: #333333;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.slider-list {
	margin-top: 24px;
	margin-bottom: 37px;
}
.slider-list li {
	padding-bottom: 17px;
	&:last-child{padding-bottom: 0;}
}
.slider-list li i {
	color: #fff;
	font-size: 20px;
	margin-right: 6px;
}
.slider-list li span {
	color: #fff;
	font-size: 20px;
	font-family: $c_reg;
}
.slider-content-4 h1{
	font-size: 75px;
}
.slider-content-4 p {
	margin-right: 0;
}
.slider-content-4 .border-btn {
	padding: 18px 40px;
	margin-left: 5px;
}




/* slider-6 style  */
.slider-height-6 {
    min-height: 850px;
    @media #{$lg}{
      min-height: 680px;
    }
    @media #{$xs}{
      min-height: 150px;
    }
  }
  
  .slider-6 {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 64px;
    @media #{$lg}{
      padding-top: 30px;
    }
    @media #{$md,$sm,$xs}{
      padding-top: 0px;
      padding-bottom: 50px;
    }
  }
  
  .slider-6-content {
    .text-link{
        color: #333333;
        &:hover{
            color: $theme-color;
        }
    }
  }
  
  .slider-6-content h1 {
    color: #333333;
    font-weight: 600;
    font-size: 85px;
    @media #{$lg}{
      font-size: 70px;
      line-height: 70px;
    }
  }
  
  .slider-6-content p {
    color: #696969;
    font-size: 20px;
    line-height: 30px;
    margin-right: 0;
  }
  
  .slider-6-img-main {
    margin-left: 120px;
    z-index: 5;
    @media #{$lg}{
    margin-left: 0px;
    }
    @media #{$md}{
      margin-left: 80px;
      }
      @media #{$sm,$xs}{
        margin-left: 0px;
        margin-top: 20px;
        }
    img{
      @media #{$lg,$xs}{
       width: 100%;
      }
    }
  }
  
  .slider-6-img-border {
    height: 585px;
    width: 585px;
    border: 80px solid #d6eaff;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: -20px;
    z-index: -1;
    @media #{$lg}{
      height: 450px;
    width: 450px;
    border: 60px solid #d6eaff;
    }
    @media #{$xs}{
      height: 300px;
      width: 300px;
      border: 30px solid #d6eaff;
      border-radius: 50%;
      position: absolute;
      top: 40px;
      left: -5px;
      display: none;
    }
    @media #{$sm}{
      height: 485px;
      width: 485px;
      border: 50px solid #d6eaff;
      border-radius: 50%;
      position: absolute;
      top: 40px;
      left: 15px;
      z-index: -1;
      display: block;
    }
  }
  
  .slider-6-img-pe1 {
    height: 166px;
    width: 166px;
    border-radius: 50%;
    border: 20px solid #fff;
    position: absolute;
    top: 50%;
    left: 40px;
    overflow: hidden;
    box-shadow: 0 30px 30px rgba(24, 69, 119, 0.1);
    z-index: 5;
    animation-name: slider-6-img-pe1;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  @keyframes slider-6-img-pe1 {
    0% {
      top: 50%;
      left: 40px;
    }
  
    49% {
      top: 40%;
      left: 40px;
    }
  
    51% {
      top: 40%;
      left: 40px;
    }
  
    98% {
      top: 50%;
      left: 40px;
    }
  
    100% {
      top: 50%;
      left: 40px;
    }
  }
  
  .slider-6-img-pe1 img {
    width: 100%;
  }
  
  .slider-6-img-pe2 {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 30px solid #fff;
    position: absolute;
    top: 5%;
    right: -315px;
    overflow: hidden;
    box-shadow: 0 50px 30px rgba(24, 69, 119, 0.1);
    z-index: 5;
  }
  
  .slider-6-img-pe2 img {
    width: 100%;
  }
  
  .slider-btn-6 {
    box-shadow: 0 30px 30px rgba(34, 96, 164, 0.1);
  }
  

  
/* case study style  */
.single-case-study {
  display: inline-block;
  margin-bottom: 120px;
  @media #{$xs}{
    margin-bottom: 70px;
  }
}
.case-slide-wrapper{
  position: relative;
  .case_navigation{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 55;
  }
}
.case-study-img {
  border-radius: 10px;
  max-width: inherit !important;
  overflow: hidden;
}

.case-study-img img {
  width: 100%;
}

.case-study-box {
  background: #fff;
  border-radius: 10px;
  padding: 30px 30px;
  box-shadow: 0 30px 40px rgba(16, 64, 116, 0.1);
  max-width: 350px;
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  @media #{$xs}{
    display: none;
  }
}

.single-case-study:hover .case-study-box {
  bottom: -85px;
  opacity: 1;
  visibility: visible;
  @media #{$sm,$xs}{
    bottom: -65px;
  }
}

.case-tag {
  font-size: 13px;
  font-weight: 700;
  color: #096bd8;
  text-transform: uppercase;
}

.case-title {
  font-size: 24px;
  line-height: 1;
  color: #333333;
}

.case-read-more {
  border: 1px solid #333333;
  font-size: 14px;
  font-weight: 700;
  color: #333333;
  height: 50px;
  line-height: 48px;
  text-transform: uppercase;
  padding: 0 35px;
  border-radius: 3px;
  display: inline-block;
}

.case-read-more:hover {
  color: #096bd8;
  border-color: #096bd8;
}



.case_navigation{
  display: flex;
  gap: 20px;
  justify-content: center;
  button{
    width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  background: #e4f1ff;
  font-size: 25px;
  color: #096bd8;
  transition: 0.5s;
  &:hover{
    background: $theme-color;
    color: $white;
  }
  }
}




