.team-wrapper{
	.team-img{
		overflow: hidden;
	}
  &:hover{
	.team-img{
		img{
			transform: scale(1.04);
		}
	}
  }
}
.team-img img{
	width:100%;
}
.team-text {
	border: 1px solid #ebebeb;
    padding: 22px 40px 30px 40px;
    & h4{
        font-size: 22px;
        font-family: "cerebri_sansbold";
        margin-bottom: 3px;
		a{
			&:hover{
				color: $theme-color;
			}
		}
     }
     & span{
        font-size: 14px;
        text-transform: uppercase;
        color:#ababab;
        font-family: $c_reg;
     }
}
.team-icon {
	margin-top: 9px;
}
.team-icon a {
	color: #cbcbcb;
	font-size: 14px;
	transition: .3s;
	margin-right: 15px;
}
.team-icon a:last-child{margin-right:0;}
.team-icon a:hover{color: $theme-color;}
.team-section p {
	margin-bottom: 26px;
}
.shape-item {
	position: absolute;
}
.team-01 {
	top: 24%;
	right: 11%;
	z-index: -1;
	@media #{$laptop}{
		right: 0;
	}
}
.team-02 {
	top: 13%;
	right: 11%;
	z-index: -1;
}
// team-2
.team-2-wrapper{padding:30px 20px;}
.team-content{
	margin-top:24px;
	& h4{
		color:$white;
		font-family: $c_bold;
		font-size: 22px;
		margin-bottom: 5px;
	}
	& span{
		color:$white;
		font-size: 14px;
		font-family: $c_reg;
		text-transform: uppercase;
	}
}
.team-content .team-icon {
	margin-top: 25px;
}
.team-content .team-icon a {
	font-size: 14px;
	transition: .3s;
	margin: 0 2px;
	height: 40px;
	width: 40px;
	background: #1478e8;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	border-radius: 5px;
	color: #9fccff;
	&:hover{
		background: $white;
		color:$theme-color;
	}
}



// single-team
.single-team-wrapper {
	margin-right: 95px;
	margin-top: 24px;
}
.single-team-text h2 {
	font-size: 45px;
	@media #{$md}{
		font-size: 35px;
	}
	@media #{$sm}{
		font-size: 30px;
	}
	@media #{$xs}{
		font-size: 28px;
	}
	br{
		@media #{$xs}{
			display: none;
		}
	}
}
.single-team-text > span {
	font-size: 16px;
   text-transform: uppercase;
   color:$theme-color;
   font-family: $c_bold;
}
.single-team-text p {
	margin-bottom: 0;
	margin-top: 26px;
}
.team-single {
	margin-top: 37px;
}
.single-team-icon {
	float: left;
	margin-right: 20px;
}
.team-info > span {
	color: #828282;
	font-size: 16px;
}
.team-info h4 {
	margin-bottom: 0;
	font-size: 20px;
	margin-top: 3px;
	a{
		&:hover{
			color: $theme-color;
		}
	}
}
.single-team-info {
	overflow: hidden;
	margin-bottom: 30px;
}
.single-team-info:last-child{margin-bottom: 0;}
.team-2-icon span {
	color: #333333;
   font-size: 20px;
   font-family: $c_bold;
   margin-right: 7px;
}
.team-2-icon{
   margin-top:40px;
	& a{
         height: 45px;
         width: 45px;
         background: #f0f0f0;
         line-height: 45px;
         display: inline-block;
         text-align: center;
         border-radius: 5px;
         transition: .3s;
         color: #a8a8a8;
         font-size: 16px;
		&:hover{background:  $theme-color;color: $white;}
	}
}


/* team-area-6 style  */
.team-area-6 {
	overflow: hidden;
	padding-bottom: 90px;
	@media #{$md,$sm}{
		padding-bottom: 80px;
	}
	@media #{$xs}{
		padding-bottom: 70px;
	}
}

.team-6-container {
  max-width: calc(((100% - 1170px) / 2) + 1170px);
  margin-left: auto;
  @media #{$lg}{
	max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
  @media #{$md}{
	max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
  @media #{$sm,$xs}{
	max-width: 100%;
	margin-left: 15px;
    margin-right: 15px;
  }
  .section-title{
	h2{
		margin-top: 0px;
	}
  }
}

.team-member-img img {
  width: 100%;
}

.team-member-name {
  padding-top: 25px;
}

.team-member-name h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1;
  margin-bottom: 5px;
}

.team-member-name h2:hover {
  color: #096bd8;
}

.team-member-name span {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}

.team-social-wrapper {
  position: absolute;
  bottom: 50px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.team-member:hover .team-social-wrapper {
  bottom: 10px;
  opacity: 1;
  visibility: visible;
}

.team-social-inner {
  padding: 16px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  display: inline-block;
}

.team-member-social {
  background: #fff;
  border-radius: 3px;
  display: inline-block;
  padding: 12px 13px;
  margin-bottom: 0;
}

.team-member-social li {
  display: inline-block;
  margin: 0 8px;
}

.team-member-social li a {
  font-size: 14px;
  color: #ababab;
}

.team-member-social li a:hover {
  color: #096bd8;
}

.team-active .slick-list {
  margin: 0 -15px;
}

.team-active .slick-slide {
  margin: 0 15px;
}

.team-nav-bg {
  position: relative;
}

.team-nav-bg:before {
  position: absolute;
  content: "";
  width: 120px;
  height: 420px;
  background: #fff;
  right: -120px;
  top: -50px;
  z-index: 1;
}
.team-right-img{
	img{
		width: 100%;
	}
}

.team_navigation{
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;
	position: absolute;
	right: -84px;
	top: 50%;
	z-index: 55;
	transform: translateY(-50%);
	@media #{$lg,$md,$sm,$xs}{
		display: none;
	}
	button{
		width: 50px;
	  height: 50px;
	  border: 0;
	  border-radius: 50%;
	  background: #e4f1ff;
	  font-size: 25px;
	  color: #096bd8;
	  transition: 0.5s;
	  &:hover{
		background: $theme-color;
		color: $white;
	  }
	  }
}