

// cart style
.table > :not(:first-child) {
	border-top: 0;
}

.wishlist-area {
	.table-content table {
		background: var(--clr-common-white);
		border-color: #d1d1d1;
		border-radius: 0;
		border-style: solid;
		border-width: 1px 0 0 1px;
		text-align: center;
		width: 100%;
		margin-bottom: 0;
}
	.table-content .product-quantity {
		float: none;
	}
	.table-content table td.product-name {
		font-size: 18px;
		font-weight: 500;
		text-transform: capitalize;
        color: #696969;
	}
	.table > :not(:last-child) > :last-child > * {
		border-bottom-color: #d1d1d1;
        color: #696969;
	}
	.table-content table td.product-name a:hover {
		color: $theme-color;
	}
	.table-content table td {
		border-top: medium none;
		padding: 9px 12px;
		vertical-align: middle;
		font-size: 16px;
	}
	.table-content table th,
	.table-content table td {
		border-bottom: 1px solid #d1d1d1;
		border-right: 1px solid #d1d1d1;
		white-space: nowrap;
        color: #696969;
	}
	.table td,
	.table th {
		border-top: 1px solid #d1d1d1;
	}

	.table-content table td.product-subtotal {
		font-size: 16px;
        color: #696969;
	}
	.table-content table td .cart-plus-minus {
		float: none;
		margin: 0 auto;
	}
	.coupon-all {
		margin-top: 50px;
	}

	.coupon {
		float: left;
		gap: 15px;
		flex-wrap: wrap;
	}

	@media (max-width: 767px) {
		.coupon {
			float: none;
		}
	}
	#coupon_code {
		height: 50px;
		border: 1px solid #d1d1d1;
		padding: 0 15px;
		outline: none;
		box-shadow: none;
		&:focus {
			border-color: #d1d1d1;
		}
	}
	.coupon2 {
		float: right;
	}
	@media (max-width: 767px) {
		.coupon2 {
			float: none;
			margin-top: 15px;
		}
	}
	.cart-page-total {
		padding-top: 30px;
	}
	.cart-page-total > h2 {
		font-size: 35px;
		margin-bottom: 20px;
		text-transform: capitalize;
	}

	.cart-page-total > ul {
		border: 2px solid #d1d1d1;
	}
	.cart-page-total > ul > li {
		list-style: none;
		font-size: 15px;
		color: #575757;
		padding: 14px 30px;
		border-bottom: 2px solid #d1d1d1;
		font-weight: 400;
	}
	.cart-page-total ul > li > span {
		float: right;
	}

	.cart-page-total li:last-child {
		border-bottom: 0;
	}
	td.product-thumbnail img {
		width: 125px;
	}
	& .product-quantity-form {
		margin: auto;
		width: 122px;
		text-align: center;
		position: relative;
        transition:0.3s;
		&:hover {
			border-color: #d1d1d1;
		}
	}

	& .cart-input {
		height: 35px;
		width: 100px;
		text-align: center;
		font-size: 14px;
		border: none;
		display: inline-block;
		vertical-align: middle;
		margin: 0 -3px;
		padding-bottom: 4px;
		background: transparent;
        border: 2px solid #eaedff;
        padding: 6px 7px;
		&:focus {
			outline: none;
		}
	}
}
.product-remove{
    a{
        color: #fa0101;
        height: 24px;
        width: 100%;
        border-radius: 100%;
        display: inline-block;
        font-size: 25px;
        line-height: 20px;
        text-align: center;
        font-weight: 700;

        &:hover{
            background: #fa0101;
            color: $white;
        }
    }
}

.actions{
    text-align: right;
}
  .button{
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: 13px 31px;
    font-weight: 500;
    border-radius: 0;
    left: auto;
    color: #fff;
    background-color: #096bd8;
    border: 0;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
	z-index: 1;
    text-transform: capitalize;
	border-radius: 5px;
    &::before{
		content: '';
		width: 0;
		height: 100%;
		position: absolute;
		bottom: 0;
		left: 100%;
		background: $theme-color;
		-webkit-transition: all 0.3s ease;
		transition: all 0.4s ease;
		border-radius: 5px;
		z-index: -1;
	}
	&:hover{
		&::before{
			width: 100%;
			left: 0;
			-webkit-transition: width 0.3s ease;
			transition: width 0.3s ease;
			background: #1876df;
		}
	}
  }
  .button.button2{
    @media #{$sm,$xs}{
        margin-bottom: 15px;
    }
  }
  .bd-border__btn{
        color: #fff;
        border-radius: 5px;
        padding: 17px 30px;
        font-weight: 600;
        background-color: #096bd8;
        display: block;
        text-align: center;
        font-size: 14px;
		border: 1px solid $theme-color;
		display: inline-block;
        &:hover{
            background: $white;
            color: $black;
        }
  }